.btn {
    color: #fff;
    background-image: linear-gradient(90deg, rgba(53,113,233,1) 0%, rgba(42,90,186,1) 100%);
    background-size: 150%;
    display: inline-block;
    padding: 8px 24px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    border-radius: 99px;
    transition: .3s;
    &:hover {
        background-size: 100%;
    }

    &.btn--secondary {
        background-image: linear-gradient(90deg, rgba(255,151,61,1) 0%, rgba(229,121,49,1) 100%);
    }
}