footer.footer {
  background: linear-gradient(90deg, rgba(2,41,118,1) 0%, rgba(4,57,136,1) 100%);
  color: #fff;
  padding: 24px 0 0 0;
  font-size: 15px;

  h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #1648a6;
  }

  h5 {
    text-transform: uppercase;
    font-size: 14px;
    color: #6196ff;
  }

  a {
    color: inherit;
  }

  .app-icon {
    width: 150px;
  }
}

.footer__menu {
  a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    padding: 4px 0 8px 0;
  }
}

.bottom-links {
  font-size: 13px;
  background-color: rgba(black, .1);
  padding: 16px;
  a {
    display: inline-block;
    margin: 0 10px;
  }
}

.copyright {
  opacity: .4;
}