
header.header {
  background: $colorPrimary 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 24px;
  .logo {
    width: 120px;
    margin-right: 48px;
  }
}

.nav {
  color: #fff;
  display: flex;
  font-size: 15px;
  padding: 16px 0 18px 0;
  margin-bottom: 24px;
  position: relative;
  width: 100%;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    display: block;
    content: '';
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 50%, rgba(255,255,255,0) 100%);
  }
  a {
      color: inherit
  }

  .nav__main {
    display: flex;
    flex-grow: 1;
    align-items: center;

  }

  .nav__main__item {
    position: relative;
    overflow: visible;
  }

  .nav__main__item__submenu {
    max-height: 0;
    opacity: 0;
    transition: .3s;
    &.active {
      max-height: 200px;
      opacity: 1;
    }
  }

  .nav__main__item__link,
  .nav__account__item__link,
  .nav__app__item__link {
    display: block;
    border: 2px solid transparent;
    border-radius: 99px;
    white-space: nowrap;
  }

  .nav__main__item__link {
    padding: 4px 14px;
    &.active {
      border-color: rgba(white, .5)
    }

  }

  .nav__account__item__link {
    padding: 4px 12px;
    color: #FFAF50;
  }

  .nav__app__item__link {
    padding: 4px;
    img {
      display: block;
      width: 40px;
      height: 40px;
    }
  }

  .nav__background {
    display: flex;
    flex-grow: 0;
    align-items: center;
    background-color: rgba(black, .2);
    padding: 12px 16px;
    border-radius: 99px;
  }

  .nav__account {
    display: flex;
  }

  .nav__app {
    display: flex;
  }

  ul {
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-100px);
      z-index: 1;
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: #fff;
      border-radius: 16px;
      box-shadow: 0 1px 4px rgba(black, .5);
      color: #012b7c;
      text-align: center;
      font-weight: 600;
      letter-spacing: -.016em;
      min-width: 200px;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: .3s;
      li {
        padding: 4px 8px;
        &:last-child {
          margin-bottom: 8px;
        }
      }
      a {
        display: block;
        padding: 6px 16px;
        border-radius: 99px;
        line-height: 1.2;
      }
      & > li:first-child a {
        display: inline-block;
        color: #fff;
        background-color: #002b7e;
        margin-top: 8px;
      }
  }

  .mobile {
    display: none;
  }

  .hamburger {
    position: absolute;
    z-index: 100;
    top: 16px;
    right: 0;
  }

  @media screen and (max-width: 900px) {
    .nav__main, .nav__background {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}

.hero__text__wrapper {
  max-width: 400px;
}

body {
  overflow-x: hidden;
  &:after {
    content: '';
    display: block;
    background: rgba(black, .0);
    position: absolute;
    display: none;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.menu-active {
    height: 100vh;
    overflow: hidden;
    &:after {
      display: block;
      background: rgba(black, .5);
    }
    .mobileMenu {
      transform: translateX(0);
    }
  
  }
}

.mobileMenu {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(3,39,118);
  background: linear-gradient(144deg, rgba(3,39,118,1) 0%, rgba(1,76,233,1) 100%);
  color: #fff;
  transition: .3s;
  transform: translateX(100%);
  padding-bottom: 16px;
  max-height: 100vh;
  overflow: auto;
  li {
    padding: 0;
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li:first-child {
      a {
        padding-top: 42px;
      }
    }
    ul li:first-child {
      a {
        padding-top: 10px;
      }
    }
  }
  a {
    display: block;
    padding: 24px 16px 10px 16px;
    border-bottom: 1px solid rgba(white, .1);
    color: #fff;
    opacity: .9;
    transition: .3s;
    &:hover {
      opacity: 1;
      background: rgba(black, .05);
      color: #ffaf50;
    }
  }
  li li a {
    padding-top: 10px;
    padding-left: 32px;
  }
}