.add4right {
margin-right: 4px !important;
}
.add4left {
margin-left: 4px !important;
}
.add4top {
margin-top: 4px !important;
}
.add4bottom {
margin-bottom: 4px !important;
}

.add8right {
margin-right: 8px !important;
}
.add8left {
margin-left: 8px !important;
}
.add8top {
margin-top: 8px !important;
}
.add8bottom {
margin-bottom: 8px !important;
}

.add16right {
margin-right: 16px !important;
}
.add16left {
margin-left: 16px !important;
}
.add16top {
margin-top: 16px !important;
}
.add16bottom {
margin-bottom: 16px !important;
}

.add24right {
margin-right: 24px !important;
}
.add24left {
margin-left: 24px !important;
}
.add24top {
margin-top: 24px !important;
}
.add24bottom {
margin-bottom: 24px !important;
}

.add32top {
margin-top: 32px !important;
}
.add32bottom {
margin-bottom: 32px !important;
}
.add32left {
margin-left: 32px !important;
}
.add32right {
margin-right: 32px !important;
}

.add40top {
margin-top: 40px !important;
}
.add40bottom {
margin-bottom: 40px !important;
}
.add40left {
margin-left: 40px !important;
}
.add40right {
margin-right: 40px !important;
}


.add0right {
margin-right: 0 !important;
}
.add0left {
margin-left: 0 !important;
}
.add0top {
margin-top: 0 !important;
}
.add0bottom {
margin-bottom: 0 !important;
}


.center {
text-align: center !important;
}

.left {
text-align: left !important;
}
  
.at-center {
margin-left: auto !important;
margin-right: auto !important;
}

.relative {
position: relative !important;
}

.absolute {
position: absolute !important;
}

.max-width-400 {
	max-width: 400px !important;
}

.max-width-500 {
	max-width: 500px !important;
}

.max-width-600 {
	max-width: 600px !important;
}

.max-width-700 {
	max-width: 700px !important;
}

.max-width-800 {
	max-width: 800px !important;
}

.flex {
    display: flex;
}

.flex--column {
    flex-direction: column;
}

.flex-jc-center {
    justify-content: center;
}

.flex-ai-center {
    align-items: center;
}

.hide-sm {
	@media screen and (max-width: 48em) {
		display: none !important;
	}
}

.show-md {
	display: none;
	@media screen and (max-width: 62em) {
		display: block !important;
	}
}

.show-sm {
	display: none;
	@media screen and (max-width: 48em) {
		display: block !important;
	}
}