@font-face {
  font-family: 'SFProText';
  src: url('/assets/fonts/SFProText-Black.woff2') format('woff2'),
      url('/assets/fonts/SFProText-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProText';
  src: url('/assets/fonts/SFProText-Bold.woff2') format('woff2'),
      url('/assets/fonts/SFProText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProText';
  src: url('/assets/fonts/SFProText-Light.woff2') format('woff2'),
      url('/assets/fonts/SFProText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProText';
  src: url('/assets/fonts/SFProText-Semibold.woff2') format('woff2'),
      url('/assets/fonts/SFProText-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProText';
  src: url('/assets/fonts/SFProText-Medium.woff2') format('woff2'),
      url('/assets/fonts/SFProText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProText';
  src: url('/assets/fonts/SFProText-Regular.woff2') format('woff2'),
      url('/assets/fonts/SFProText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



html, body {
  width: 100%;
  min-height: 100vh;
  font-family: 'SFProText', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.ibandirect {
  display: flex;
  flex-direction: column;
  position: relative;

  &>header {
    flex-grow: 0;
  }
  &>main {
    flex-grow: 1;
  }
  &>footer {
    flex-grow: 0;
  }
}

.wrap {
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
  padding: 0 16px;
}