.section {
    margin: 24px 0 24px 0;
    padding: 24px 0 24px 0;
    background-size: cover;

    h3 {
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        letter-spacing: -0.04em;
    }

    h5 {
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        position: relative;
        color: rgba(black, .64);

        span {
            display: inline-block;
            background-color: #fff;
            position: relative;
            padding: 0 16px;
            z-index: 1;
        }

        &:after {
            position: absolute;
            z-index: 0;
            top: 50%;
            transform: translateY(-2px);
            left: 0;
            width: 100%;
            height: 2px;
            display: block;
            content: '';
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
        }

    }

    &.mobile {
        background-color: #013787;
        color: #fff;

        .row {
            min-height: 300px;
            align-items: stretch;
        }

        .row-section-mobile {
            @media screen and (max-width: 760px) {
                flex-direction: row-reverse;
            }
        }

        .mobile-phones {
            position: absolute;
            bottom: -24px;
            left: 50%;
            transform: translateX(-50%);
            height: 380px;
            @media screen and (max-width: 760px) {
                left: 100%;
                // transform: translateX(-50%);
            }
        }
    }

    &.who {
        background-color: #013787;
        color: #fff;
    }
}

.fearureList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fearureList__item {
    text-align: center;
    flex-basis: 300px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
}

.fearureList__item__title {
    margin: 0 auto;
    max-width: 240px;
}

.fearureList__item__icon {
    width: 72px;
    height: 72px;
}



.caseList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caseList__item {
    text-align: center;
    flex-basis: 300px;
    padding: 10px 20px;
    font-size: 15px;
}

.caseList__item__title {
    margin: 0 auto 16px auto;
    max-width: 240px;
    font-weight: 600;
}

.caseList__item__text {
    margin: 0 auto;
    max-width: 240px;
    opacity: .8;
}

.caseList__item__text__video {
    display: inline-block;
}

.caseList__item__icon {
    width: 72px;
    height: 72px;
}



.faqList {
}

.faqList__group {
    margin-bottom: 32px;
}

.faqList__group__title {
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 16px;
}

.faqList__group__items {
    margin: 0;
    padding: 0;
}

.faqList__group__item {
    list-style: none;
    margin: 0 0 8px 0;
    padding: 0;
    &.active {
        .faqList__group__item__question::before {
            transform: rotate(90deg);
            color: $colorPrimary;
            opacity: .8;
        }
        .faqList__group__item__answer {
            height: auto;
        }
    }
}

.faqList__group__item__question {
    font-weight: 600;
    cursor: pointer;
    padding-left: 32px;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    transition: .3s;
    &:hover {
        color: $colorPrimary;
    }
    &::before {
        content: "▶";
        font-size: .64em;
        position: absolute;
        top: 8px;
        left: 12px;
        display: inline-block;
        opacity: .4;
        transition: .3s;
        transform-origin: center center;
    }
}

.faqList__group__item__answer {
    height: 0px;
    overflow: hidden;
    padding-left: 32px;
}



.factList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.factList__item {
    text-align: center;
    flex-basis: 300px;
    padding: 10px 20px;
    font-size: 15px;
    &.wide {
        flex-basis: 460px;
        .factList__item__title,
        .factList__item__number {
            max-width: 420px;
        }
    }
}

.factList__item__title {
    margin: 0 auto;
    max-width: 240px;
    opacity: .8;
}

.factList__item__number {
    margin: 0 auto;
    max-width: 240px;
    font-weight: 900;
    font-size: 3em;
    white-space: nowrap;
    letter-spacing: -.05em;
}


.feeList {
    counter-reset: section;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.feeList li {
    list-style-type: none;
    position: relative;
    padding: 0 0 0 32px;
    margin: 0 0 16px 0;

}

.feeList li ol {
    counter-reset: subsection;
    margin: 0 0 0 -32px;
    padding: 0;
}

.feeList li:before {
    counter-increment: section;
    content: counter(section) ". ";
    position: absolute;
    left: 0
}

.feeList li ol li:before {
    counter-increment: subsection;
    content: counter(section) "."counter(subsection) " ";
}


.feeList__item__header {
    margin: 32px 0 16px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.feeList__item__point {
    display: flex;
    color: rgba(0,0,0,.7);
    font-weight: 600;
}

.feeList__item__point__name {
    flex-grow: 1;
    position: relative;
    span {
        position: relative;
        display: inline-block;
        background: #fff;
        padding: 0 8px 0 0;
        z-index: 1;
    }
    &:after {
        position: absolute;
        display: block;
        z-index: 0;
        content: '';
        bottom: 3px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ccc;
    }
}

.feeList__item__point__value {
    flex-grow: 0;
    padding-left: 16px;
}
