<div class="hero row">
    <div class="hero__text col-sm-6 col-xs">
        <div class="hero__text__wrapper">
            <h1>Get your Prepaid Card as easy as One-Two-...Done</h1>
            <p>Our mission is to provide reliable service with comprehensive solution for both individual and business card users.</p>
            <p class="add24top"><a href="#" class="btn btn--secondary">Contact Us</a></p>                    
        </div>
    </div>
    <div class="hero__image col-sm-6">

    </div>
</div>