<div class="hero row">
    <div class="hero__text col-sm-6 col-xs">
        <div class="hero__text__wrapper">
            <h1>Sending Funds between Business Partners</h1>
            <p>Transfers between Ibandirect users are free of charge. Customer Jessica refers some of her business partners to settle internally at no costs and to get an affiliate commissions from every transaction her referrals make.</p>
            <p class="add24top"><a href="#" class="btn btn--secondary">Request the card</a></p>                    
        </div>
    </div>
    <div class="hero__image col-sm-6">

    </div>
</div>
