<div class="hero row">
    <div class="hero__text col-sm-6 col-xs">
        <div class="hero__text__wrapper">
            <h1>Virtual IBAN</h1>
            <p>Crypto Friendly IBAN Account Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum, lacus non euismod sollicitudin, nibh lorem tempus est, et malesuada odio quam vel orci.</p>
            <p class="add24top"><a href="#" class="btn btn--secondary">Request the card</a></p>                    
        </div>
    </div>
    <div class="hero__image col-sm-6">

    </div>
</div>