<!doctype html>
<html>
  <head>
    {% include "../includes/head.twig" %}
  </head>

  <body class="ibandirect">
    {% include "../includes/header-start.twig" %}
    {% block hero %}{% endblock %}
    {% include "../includes/header-end.twig" %}

    <main class="main">
      {% block content %}{% endblock %}
    </main>

    {% include "../includes/footer.twig" %}
    <script src="./assets/js/script.js"></script>
  </body>
</html>