{% extends "layouts/default.twig" %}

{% block content %}
  {% include "./includes/sections/facts.twig" %}
  {% include "./includes/sections/who.twig" %}
  {% include "./includes/sections/reviews.twig" %}
{% endblock %}

{% block hero %}
  {% include "./includes/sections/hero/virtual-iban.twig" %}
{% endblock %}