{% extends "layouts/default.twig" %}

{% block content %}
  {% include "./includes/sections/iban.twig" %}
  {% include "./includes/sections/who.twig" %}
  {% include "./includes/sections/cases.twig" %}
{% endblock %}

{% block hero %}
  {% include "./includes/sections/hero/virtual-iban.twig" %}
{% endblock %}