{% extends "layouts/default.twig" %}

{% block content %}
  {% include "./includes/sections/faq.twig" %}
  {% include "./includes/sections/who.twig" %}
  {% include "./includes/sections/reviews.twig" %}
{% endblock %}

{% block hero %}
  {% include "./includes/sections/hero/all-you-need-to-know.twig" %}
{% endblock %}