{% extends "layouts/default.twig" %}

{% block content %}
  {% include "./includes/sections/iban.twig" %}
  {% include "./includes/sections/mobile.twig" %}
  {% include "./includes/sections/referral.twig" %}
  {% include "./includes/sections/who.twig" %}
  {% include "./includes/sections/fees.twig" %}
{% endblock %}

{% block hero %}
  {% include "./includes/sections/hero/index.twig" %}
{% endblock %}