<section class="section cases">
  <div class="wrap">
    <h3>{{ sections.cases.header }}</h3>
    <h5><span>{{ sections.cases.subheader }}</span></h5>
    <div class="caseList row add24top">
      {% for item in sections.cases.items %}
        <div class="caseList__item col-md-4 col-sm-6 col-xs-12">
          <img src="{{ item.icon }}" class="caseList__item__icon" />
          <div class="caseList__item__title">{{ item.title }}</div>
          <div class="caseList__item__text">{{ item.text }}</div>
        </div>
    {% endfor %}
    </div>
    <div class="center add24top">
      <a href="{{ sections.cases.button.url }}" class="btn btn--primary">{{ sections.cases.button.title }}</a>
    </div>
  </div>
</section>