<section class="section facts">
  <div class="wrap">
    <h3>{{ sections.facts.header }}</h3>
    <h5><span>{{ sections.facts.subheader }}</span></h5>
    <div class="factList add24top">
      {% for item in sections.facts.items %}
        <div class="factList__item {{ item.class }}">
          <div class="factList__item__number">{{ item.number }}</div>
          <div class="factList__item__title">{{ item.title }}</div>
        </div>
    {% endfor %}
    </div>
  </div>
</section>