<section class="section faq">
  <div class="wrap">
    <h3>{{ sections.faq.header }}</h3>
    <h5><span>{{ sections.faq.subheader }}</span></h5>
    <div class="faqList add24top">
      {% for group in sections.faq.groups %}
        <div class="faqList__group">
          <div class="faqList__group__title">{{ group.title }}</div>
          <ul class="faqList__group__items">
            {% for item in group.items %}
                <li class="faqList__group__item">
                    <div class="faqList__group__item__question">{{ item.question }}</div>
                    <div class="faqList__group__item__answer">{{ item.answer }}</div>
                </li>
            {% endfor %}
          </ul>
        </div>
    {% endfor %}
    </div>
  </div>
</section>