<section class="section fees">
  <div class="wrap">
    <h3>{{ sections.fees.header }}</h3>
    <h5><span>{{ sections.fees.subheader }}</span></h5>
    <ol class="feeList">
      {% for fee in sections.fees.list %}
        <li class="feeList__item">
          <div class="feeList__item__header">{{ fee.header }}</div>
          <ol class="feeList__item__points">
            {% for point in fee.points %}
            <li class="feeList__item__point">
              <div class="feeList__item__point__name"><span>{{ point.name }}</span></div>
              <div class="feeList__item__point__value">{{ point.value }}</div>
            </li>
            {% endfor %}
          </ol>
        </li>
    {% endfor %}
      </ol>
    <div class="center add24top">
      <a href="{{ sections.fees.button.url }}" class="btn btn--primary">{{ sections.fees.button.title }}</a>
    </div>
  </div>
</section>