<section class="section iban">
  <div class="wrap">
    <h3>{{ sections.iban.header }}</h3>
    <h5><span>{{ sections.iban.subheader }}</span></h5>
    <div class="fearureList add16top">
      {% for feature in sections.iban.features %}
        <div class="fearureList__item">
          <img src="{{ feature.icon }}" class="fearureList__item__icon" />
          <div class="fearureList__item__title">{{ feature.title }}</div>
        </div>
    {% endfor %}
    </div>
    <div class="center add24top">
      <a href="{{ sections.iban.button.url }}" class="btn btn--primary">{{ sections.iban.button.title }}</a>
    </div>
  </div>
</section>