<section class="section mobile" style="background-image: url({{sections.mobile.background}})">
  <div class="wrap row row-section-mobile">
    <div class="col col-sm-6 relative">
      <img class="mobile-phones" src="{{ sections.mobile.image }}" alt="" />
    </div>
    <div class="col-xs col-sm-6 flex flex--column flex-jc-center relative">
      <h3 class="left">{{ sections.mobile.header }}</h3>
      <p class="left max-width-400">{{ sections.mobile.description }}</p>
      <div class="left add16top">
        <a href="{{ sections.mobile.button.url }}" class="btn btn--secondary">{{ sections.mobile.button.title }}</a>
    </div>
    </div>
  </div>
</section>