<section class="section referral">
  <div class="wrap">
    <h3>{{ sections.referral.header }}</h3>
    <h5><span>{{ sections.referral.subheader }}</span></h5>
    <div class="fearureList add24top">
      {% for feature in sections.referral.features %}
        <div class="fearureList__item">
          <img src="{{ feature.icon }}" class="fearureList__item__icon" />
          <div class="fearureList__item__title">{{ feature.title }}</div>
        </div>
    {% endfor %}
    </div>
    <div class="center add24top">
      <a href="{{ sections.referral.button.url }}" class="btn btn--primary">{{ sections.referral.button.title }}</a>
    </div>
  </div>
</section>