<section class="section reviews">
  <div class="wrap">
    <h3>{{ sections.reviews.header }}</h3>
    <h5><span>{{ sections.reviews.subheader }}</span></h5>
    <div class="caseList row add24top">
      {% for item in sections.reviews.items %}
        <div class="caseList__item col-md-4 col-sm-6 col-xs-12">
          <img src="{{ item.image }}" class="caseList__item__image" />
          <div class="caseList__item__title">{{ item.title }}</div>
          <div class="caseList__item__text">{{ item.text }}</div>
          {% if item.link %}<div><a href="{{ item.url }}">{{ item.link }}</a></div>{% endif %}
        </div>
    {% endfor %}
    </div>
    <div class="center add24top">
      <a href="{{ sections.reviews.button.url }}" class="btn btn--primary">{{ sections.reviews.button.title }}</a>
    </div>
  </div>
</section>