<section class="section who" style="background-image: url({{sections.who.background}})">
  <h3 class="add16bottom">{{ sections.who.header }}</h3>
  <div class="wrap row">
    <div class="col col-sm-6">
      <p class="max-width-500">{{ sections.who.description[0] }}</p>
      <p class="max-width-500">{{ sections.who.description[1] }}</p>
      <p class="add16bottom add24top max-width-500"><a href="{{ sections.who.button.url }}" class="btn btn--secondary">{{ sections.who.button.title }}</a></p>
    </div>
    <div class="col col-sm-6">
      <p class="add24bottom max-width-500">{{ sections.who.description[2] }}</p>
      <a href="{{ sections.who.button_cyprus.url }}" class="btn btn--primary">{{ sections.who.button_cyprus.title }}</a>
      <a href="{{ sections.who.button_estonia.url }}" class="btn btn--primary">{{ sections.who.button_estonia.title }}</a>
    </div>
  </div>
</section>