<footer class="footer">
    <div class="wrap row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <h4>{{ footer.contacts.title }}</h4>
            <div class="row">
                <div class="col-sm-6 col-xs">
                    <h5 class="country">{{ footer.contacts.estonia.title }}</h5>
                    {% for p in footer.contacts.estonia.description %}
                    <p>{{ p }}</p>
                    {% endfor %}
                </div>
                <div class="col-sm-6 col-xs">
                    <h5 class="country">{{ footer.contacts.cyprus.title }}</h5>
                    {% for p in footer.contacts.cyprus.description %}
                    <p>{{ p }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <br class="show-md" />
            <h4>{{ footer.app.title }}</h4>
            <a href="{{ footer.app.ios.url }}"><img class="app-icon add8right" src="{{ footer.app.ios.image }}" alt="" /></a>
            <a href="{{ footer.app.android.url }}"><img class="app-icon" src="{{ footer.app.android.image }}" alt="" /></a>
            <div class="show-sm" style="height: 8px"></div>
            <div class="add24top footer__menu row hide-sm">
                {% for menu in footer.menu %}
                <div class="col-sm-4"><a href="{{ menu.url }}">{{ menu.title }}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="center bottom-links">
        <div>
            <a href="#">Terms and Conditions</a>
            <a href="#">AML Policy</a>
            <a href="#">Privacy Policy</a>               
        </div>
        <div class="copyright">
            © 2021 Ibandirect.com. All rights reserved.
        </div>
    </div>
</footer>