    <div class="mobileMenu">
        <ul>
            {% for menu in menu.main %}
                <li class="mobileMenu__item">
                    <a href="{{ menu.url }}" class="mobileMenu__item__link {% if menu.active %}active{% endif %}">{{ menu.title }}</a>
                    {% if menu.submenu %}
                        <ul class="mobileMenu__item__submenu">
                            {% for menu in menu.submenu %}
                                <li><a href="{{ menu.url }}">{{ menu.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    
    

    <header class="header" style="background-image: url(/assets/img/bg-header.jpg)">
        <div class="wrap">
            <nav class="nav">
                <div class="nav__main">
                    <div class="nav__main__item">
                        <a href="/"><img src="/assets/img/logo.png" class="logo" /></a>
                    </div>
                    {% for menu in menu.main %}
                        <div class="nav__main__item">
                            <a href="{{ menu.url }}" class="nav__main__item__link {% if menu.active %}active{% endif %}">{{ menu.title }}</a>
                            {% if menu.submenu %}
                                <ul class="nav__main__item__submenu">
                                    <li><a href="{{ menu.url }}">{{ menu.title }}</a></li>
                                    {% for menu in menu.submenu %}
                                        <li><a href="{{ menu.url }}">{{ menu.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="nav__background">
                    <div class="nav__account">
                        {% for menu in menu.account %}
                            <a href="{{ menu.url }}" class="nav__account__item__link">{{ menu.title }}</a>
                        {% endfor %}
                    </div>
                    <div class="nav__app">
                        {% for menu in menu.app %}
                            <a href="{{ menu.url }}" class="nav__app__item__link"><img src="{{ menu.image }}" alt="{{ menu.title }}" /></a>
                        {% endfor %}
                    </div>
                </div>

                <div class="flex-grow-1 mobile">
                    <a href="/"><img src="/assets/img/logo.png" class="logo" /></a>
                </div>
                <button class="hamburger hamburger--slider flex-grow-0 mobile" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>